<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">

    <title>Tune Charts</title>
</head>
<body>

    <div class="mainDiv">

        <header class="header">
            <h1 class="title"><a href="/">TUNE CHARTS</a></h1>
            <ul class="mainNav">
                <li><a href="about">ABOUT</a></li>
                <li><a href="about">CHARTS</a></li>
                <li><a href="profile">PROFILE</a></li>
                <li><a href="about">MORE</a></li>
            </ul>
        </header>

        <div class="mainContent">
            <h1>Riley Weld</h1>

            <a href="https://github.com/it-sd/sqc-project-rileyweld22.git">My github project</a>
            <br>
            <p class="mainParagraph">The purpose of this site is to be able to display all your favorite songs though a chart.
                Being able to make different charts based on moods, song types, and artists gives
                the user place to display their favorite songs. Having a profile where you can share
                you favorite songs at the moment, lets other users discover music they might have not 
                ever found.
            </p>

        </div>

   </div>
    <!--It looks like Charts and More are the same pages as your about page. You could delete the More page so that it is not there as it isn't necessary as it is. -->
</body>
</html>