<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">

    <title>Tune Charts</title>
</head>
<body>

    <div class="mainDiv">

        <header class="header">
            <h1 class="title"><a href="/">TUNE CHARTS</a></h1>
            <ul class="mainNav">
                <li><a href="about">ABOUT</a></li>
                <li><a href="about">CHARTS</a></li>
                <li><a href="profile">PROFILE</a></li>
                <li><a href="about">MORE</a></li>
            </ul>
        </header>

        <div class="mainContent">
            <h1>Profile Page</h1>
            <h2 id="success"></h2>
            <h1>Username Input</h1>
            <input id="username" placeholder="Username" maxlength="32">
            <br>
            <h1>Password Input</h1>
            <input id="password" placeholder="Password" maxlength="32" type="password">
            <br><br>
            <button id="register">Submit</button>
        </div>

   </div>
    
</body>

<script>
const main = document.querySelector('main')
const success = document.getElementById('success')
const username = document.getElementById('username')
const password = document.getElementById('password')
const register = document.getElementById('register')

const checkNull = function () {
  const isValid = true

  if(username.value == "" || username.value == null){
    isValid = false
  }
  if(password.value == "" || password.value == null){
    isValid = false
  }

  return isValid
}

const submit = async function () {

    if(checkNull()){
        
        const message = document.querySelector('h2')

        const data = {
            username: username.value,
            password: password.value
        }

        const response = await fetch('/register', {
        method: 'POST',
        headers: {
        Accept: 'application/json', 'Content-Type': 'application/json' 
        },
        body: JSON.stringify(data)
        })

        if (response.ok) {
        const result = await response.json()
        if (result.ok) {
            success.innerHTML = 'Success!'
            return
        } 
        } else {
            success.innerHTML = 'Server Error...'
        }

    }

}
register.addEventListener('click', (e) => submit())
</script>

</html>